$tablet-width: 53em;
$desktop-width: 64em;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
