@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
$main-font: "Open Sans", sans-serif;
$logo-font: "Oleo Script", cursive;

$background-color: #e4e4e4;
$secondary-background-color: #fff;
$text-color: #444;
$text-color-light: #888;
$secondary-text-color: #fff;
$text-color-opacity: #44444433;
$logo-background: #fc4887;
$border-color: #1691c3;
